<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.heming.enstudy.mapper.BookDictMapper">

    <resultMap id="bookDictMap" type="dev.heming.enstudy.common.entity.BookDict">
        <result column="id" property="id"/>
        <result column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="book_size" property="bookSize"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <select id="selectByBookId" resultMap="bookDictMap">
        SELECT
            id,
            book_id,
            book_name,
            book_size,
            creator,
            updater,
            create_time,
            update_time,
            status,
            del
        FROM
            enstudy_book_dict
        WHERE
            del = 1
        AND
            book_id = #{bookId}
    </select>

    <select id="selectDictCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            enstudy_book_dict
        WHERE
            del = 1
    </select>

</mapper>
