<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.heming.enstudy.mapper.UserWorkActionsMapper">

    <resultMap id="userWorkActionsMap" type="dev.heming.enstudy.common.entity.UserWorkActions">
        <result column="id" property="id"/>
        <result column="word_id" property="wordId"/>
        <result column="user_id" property="userId"/>
        <result column="book_id" property="bookId"/>
        <result column="state" property="state"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del" property="del"/>
    </resultMap>

    <select id="selectTodayCountByUserId" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            enstudy_user_work_actions
        WHERE
            del = 1
        AND
            user_id = #{userId}
        AND
            DATE(update_time) = DATE(NOW())
    </select>

</mapper>
